:root {
  --background-contrast: #FFFFFF;
}
#navbar-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#navbar-container h4 {
  color: var(--background-contrast);
  margin: 2rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  font-size: 2rem;
}
#navbar-container a:hover {
  background-color: grey;
}
#navbar-container span {
  margin-left: 1rem;
  color: var(--background-contrast);
}
.menu-wrapper {
  border: 2px solid var(--background-contrast);
  padding: 1rem;
  width: 27em;
  margin: 0.5rem;
}